{sub_dirs, ["deps","rel"]}.
{require_otp_vsn, "R16B"}.
{erl_opts,[{parse_transform, lager_transform}]}.

{deps, [
 {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.0.2"}}},
 {rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", "rabbitmq-3.0.2"}},
 {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "HEAD"}},
 {mochiweb, ".*", {git,"https://github.com/mochi/mochiweb.git","master"}},
 {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
 {jiffy, ".*", {git,"https://github.com/refuge/jiffy.git","master"}},
 {oauth, ".*", {git,"https://github.com/refuge/erlang-oauth.git","master"}}
]}.
